<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BReview</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
             <!-- Navbar -->
            <nav class="navbar">
            <div class="logo">
               <a href="/"><span id="home" style="cursor: pointer;">BreView</span></a>
            </div>

            <ul class="nav-links" id="nav-links">
                <li class="close-btn" id="close-btn">
                <img src="/assets/svg/close.svg" alt="Close Menu" />
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <% if (locals.userId) { %>
                    <li><a href="/auth/logout" id="logout_btn">Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>

            <button class="menu-btn" id="menu-btn">
                <img src="/assets/svg/menu.svg" alt="Menu" />
            </button>
            </nav>
    