<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BReview</title>
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
             <!-- Navbar -->
            <nav class="navbar">
            <div class="logo">
                <span id="home" style="cursor: pointer;">ANIMAY</span>
            </div>

            <ul class="nav-links" id="nav-links">
                <li class="close-btn" id="close-btn">
                <img src="/assets/svg/close.svg" alt="Close Menu" />
                </li>
                <li><a href="/recommendation">Suggestions</a></li>
                <li><a href="/toprated">Top Rated</a></li>                          
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>

            <button class="menu-btn" id="menu-btn">
                <img src="/assets/svg/menu.svg" alt="Menu" />
            </button>
            </nav>
    