<%- include('partials/header') %>

<h1>About</h1>
<div class="about-container">
  <!-- Profile Image -->
  <div class="about-img">
    <img
      class="about-img"
      src="/assets/images/mehero.png"
      alt="Akash's Picture"
    />
  </div>

  <div class="about-info">
    <div>
      <p class="about-text">
        This project uses <strong>Google's Book API</strong> to fetch book data and render them using
        <strong>EJS</strong>, used <strong>Postgres</strong> as database for data persistency and the UI is fully
        modular (global css variables). Used
        <strong>Node + Express</strong> (server) and <strong>Axios</strong> (data
        fetching). For testing API's response and structure, I used <strong>Postman</strong>.
      </p>
    </div>
    <!-- Modify key takeaways -->
    <div class="takeaways">
      <span>Key Takeaways:</span>
      <ul>
        <li>Implementing secure user authentication using <strong>hashing</strong> and <strong>session storage</strong>.</li>
        <li>Using <strong>environment variables and .env</strong> securely for sensitive data.</li>
        <li>Learned about persistent login sessions with <strong>express-session</strong> and PostgreSQL store.</li>
      </ul>
    </div>
      
    <div class="about-details">
      <ul>
        <li><p><span>Email:</span> therealakash13@gmail.com</p></li>
        <li><p><span>Phone:</span> +91 9971104373 </p></li>
        <li><p><span>Location:</span> Delhi, India</p></li>
        <li><p><span>Hobbies:</span> Code, Chai, Anime, Music</p></li>
      </ul>
    </div>

    <div class="social-icons">
      <a href="https://github.com/therealakash13"><img src="/assets/images/github.png" alt="GitHub" /></a>
      <a href="mailto:therealakash13@gmail.com"><img src="/assets/images/gmail.png" alt="Gmail" /></a>
      <a href="https://www.linkedin.com/in/akashkumar0"><img src="/assets/images/linkedin.png" alt="LinkedIn" /></a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>